parameters:
 level: 8
 treatPhpDocTypesAsCertain: false
 paths:
  - src
 ignoreErrors:
  - '#Binary operation "\." between array\|bool\|float\|int\|string\|UnitEnum\|null and non-falsy-string results in an error#'
  - '#Binary operation "\." between .+ and .+ results in an error#'
  - '#Cannot call method .+\(\) on .+\|null#'
  - '#Variable .+ on left side of \?\? always exists and is not nullable#'
  - '#Property .*::\$id .* is never assigned int#'
  - '#Call to protected method .+\(\) of class#'
  - '#Using nullsafe method call on non-nullable type .+\. Use -> instead\.#'
  - '#Expression on left side of \?\? is not nullable\.#'
  - '#Strict comparison using (===|!==) between .+ and null will always evaluate to (false|true)\.#'
  - '#Negated boolean expression is always false\.#'
