parameters:
 level: 8
 treatPhpDocTypesAsCertain: false
 paths:
  - src
 ignoreErrors:
  - '#Binary operation "\." between array\|bool\|float\|int\|string\|UnitEnum\|null and non-falsy-string results in an error#'
  - '#Binary operation "\." between .+ and .+ results in an error#'
  - '#Cannot call method .+\(\) on .+\|null#'
  - '#Variable .+ on left side of \?\? always exists and is not nullable#'
  - '#Call to an undefined method .*::createQueryBuilder\(\)#'
  - '#Property .*::\$id .* is never assigned int#'
  - '#Parameter \#.+ of function .+ expects .+, .+ given\.#'
  - '#Parameter \#.+ of method .+ expects .+, .+ given\.#'
  - '#Property .+ is never assigned .+ so it can be removed from the property type\.#'
